#comp14 {
    max-width: 1920px;
    width: 100%;
    height: 101px;
    position: relative;
    bottom: 3063px;
    background-color: #222533;
}

.img18 {
    background-image: url(../imagesFolder/10.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    margin-left: 415px;
    position: relative;
    top: 32px;
}

.img19 {
    background-image: url(../imagesFolder/9.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    margin-left: 507px;
    position: relative;
    top: 10px;
}

.img20 {
    background-image: url(../imagesFolder/8.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    margin-left: 607px;
    position: relative;
    bottom: 10px;
}

.img21 {
    background-image: url(../imagesFolder/7.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    margin-left: 706px;
    position: relative;
    bottom: 33px;
}

.img22 {
    background-image: url(../imagesFolder/5.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    margin-left: 803px;
    position: relative;
    bottom: 54px;
}

.img23 {
    background-image: url(../imagesFolder/3.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    margin-left: 900px;
    position: relative;
    bottom: 75px;
}

.img24 {
    background-image: url(../imagesFolder/2.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    margin-left: 995px;
    position: relative;
    bottom: 98px;
}

.img25 {
    background-image: url(../imagesFolder/1.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    margin-left: 1092px;
    position: relative;
    bottom: 121px;
}

.img26 {
    background-image: url(../imagesFolder/6.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    margin-left: 1190px;
    position: relative;
    bottom: 143px;
}

.img27 {
    background-image: url(../imagesFolder/4.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    margin-left: 1292px;
    position: relative;
    bottom: 165px;
}

.img28 {
    background-image: url(../imagesFolder/4.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    margin-left: 1295px;
    position: relative;
    bottom: 187px;
}

.img29 {
    background-image: url(../imagesFolder/11.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    margin-left: 1387px;
    position: relative;
    bottom: 207px;
}

.img30 {
    background-image: url(../imagesFolder/12.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 22px;
    margin-left: 1483px;
    position: relative;
    bottom: 230px;
}